.cards{
			margin-bottom:20px;
		}
		.card-block{
			border-radius:4px;
			padding:25px;
			position:relative;
			margin-bottom:20px;
			border-bottom:7px solid #fff;
		}
		.card-block h3{
			font-size:28px;
			font-weight:bold;
			text-transform:uppercase;
			margin:0px;
		}
		.card-block p{
			margin:0px;
		}
		.card-block.card-info{
			background-color:#00c0ef;
			color:#fff;
		}
		.card-block.card-success{
			background-color:#00a65a;
			color:#fff;
		}
		.card-block.card-yellow{
			background-color:#f39c12;
			color:#fff;
		}
		.card-block .iconset{
			position:absolute;
			bottom:0px;
			right:5px;
			font-size:72px;
			opacity:0.3;
		}
		.arrow-down {
		  position:absolute;
		  width: 0; 
		  height: 0; 
		  border-left: 20px solid transparent;
		  border-right: 20px solid transparent;
		  bottom:-20px;
		  display:none;
		}
		.card-block:hover.card-info .arrow-down, .card-block.active.card-info .arrow-down{
			border-top: 20px solid #00c0ef;
			display:block;
		}
		.card-block:hover.card-success .arrow-down, .card-block.active.card-success .arrow-down{
			border-top: 20px solid #00a65a;
			display:block;
		}
		.card-block:hover.card-yellow .arrow-down, .card-block.active.card-yellow .arrow-down{
			border-top: 20px solid #f39c12;
			display:block;
		}
		.custom_settings label{
			font-size:16px;
			font-weight:bold;
			display: block;
			border-bottom:1px solid #ccc;
			padding-bottom:10px;
			margin-bottom:15px;
		}
		.custom_settings label b{
			font-size:12px;
			font-weight:normal;
			float:right;
		}
		.custom_settings .form-control{
			border-radius: 0;
		}
		.custom_settings .btn{
			border-radius: 0;
		}
		.custom_settings .form-group{
			
		}
		.custom_settings .form-group p{
			margin:5px 0;
		}
		.custom_settings .well .form-group, .custom_settings .well label{
			padding:0px;
			border:0px;
			margin:0px;
		}
	.btn-browse{
		position:relative;
		width:390px;
		height:auto;
		overflow:hidden;
		font-size:18px;
		font-weight:bold;
		margin-right:20px;
	}
	.btn-browse input[type="file"]{
		position:absolute;
		top:0;
		bottom:0;
		width:370px;
		opacity:0;	
		width:390px;
	}
	
