<?php echo $header; ?>
<div class="container">
    <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
    </ul>
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?> "><?php echo $content_top; ?>
            <h1 class="text-center"><?php echo $heading_title; ?></h1>
            <p class="text-center">
            <h1><b style="color:red;"><?php if(isset($text_order_id) AND $text_order_id){ echo '#' . $text_order_id; } ?></b></h1>
            </p>
            <?php echo $text_message; ?>
            <div class="buttons">
                <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
            </div>
            <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
</div>

    <?php if(isset($nebim_status) AND $nebim_status){ ?>
    <script>
        $(function () {
            $.ajax({
                url: 'index.php?route=tool/nebim/sendorder',
                dataType: 'json',
                type: 'POST',
                data: {order_id : '<?=$order_id;?>'},
                success: function(json){

                }
            });
        });
    </script>
    <?php } ?>


<?php echo $footer; ?>