


<p>
<?=$message;?>
</p>

<br>
<a href="<?=$checkout;?>">Tekrar Dene</a>

<!--
Gelen Değişkenler ve değerleri

message_type => error, success 2 değer gelir
message => text mesajı gelir
checkout => ödeme sayfası için link
 -->