{% include 'extension/module/mega_free_gifts/header.tpl' %}
<table class="table">
	<thead>
		<tr>
			<td colspan="2">{{ heading_title }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="200">{{ text_version }}:</td>
			<td>{{ extension_version }}</td>
			<td rowspan="5" width="50%" style="border-left: 1px solid #dddddd;" class="text-center">
				<h2 style="font-size: 16px; margin: 0; text-decoration: underline; padding: 10px 0;">{{ text_if_something_doesnt_work }}</h2>

				<table style="width: 100%; margin-top: 15px;" class="text-left">
					<tr>
						<td style="width: 50%; vertical-align: top;" class="text-center">
							<center><strong>VQMod</strong> (if you have)</center><br />

							To clear the cache of VQMod please remove the following files:<br /><br />

							<code>/vqmod/checked.cache<br />/vqmod/mods.cache</code><br /><br />

							and all files in the folder:<br /><br />

							<code>/vqmod/vqcache</code>
						</td>
						<td style="border-left: 1px solid #dddddd; padding-left: 10px; vertical-align: top;" class="text-center">
							<center><strong>OCMod</strong></center><br />

							In Main Menu -&gt; go to -&gt; Extensions -&gt; Modifications -&gt; and click the button CLEAR &amp; REFRESH
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>{{ text_email }}:</td>
			<td><a href="mailto:support@ocdemo.eu">support@ocdemo.eu</a></td>
		</tr>
		<tr>
			<td>{{ text_forum }}:</td>
			<td><a href="https://forum.ocdemo.eu" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-external-link"></i> {{ text_open_forum }}</a></td>
		</tr>
		<tr>
			<td>{{ text_support }}:</td>
			<td><a href="https://support.ocdemo.eu" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-life-ring"></i> {{ text_go_to_support }}</a></td>
		</tr>
		<tr>
			<td>{{ text_documentation }}:</td>
			<td><a href="https://docs.ocdemo.eu/mfg" target="_blank" class="btn btn-xs btn-default"><i class="fa fa-external-link"></i> {{ text_open_documentation }}</a></td>
		</tr>
	</tbody>
</table>
{% include 'extension/module/mega_free_gifts/footer.tpl' %}