				</form>
			</div>
		</div>
	</div>
</div>
<style>
	.mega-filter-pro{
		background: #fcfcfc;
	}
	.mega-filter-pro .nav-tabs .active a {
		border-bottom: 1px solid #a5d800 !important;
	}
	.mega-filter-pro .nav-tabs > li.active > a,
	.mega-filter-pro .nav-tabs > li.active > a:hover,
	.mega-filter-pro .nav-tabs > li.active > a:focus {
		color: #555555;
		cursor: default;
		background-color: #f2f2f2 !important;
		border: 1px solid #dddddd;
		border-bottom-color: rgb(221, 221, 221);
		border-bottom-color: transparent;
	}
	.mega-filter-pro .nav-tabs > li > a {
		margin-right: 2px;
		line-height: 1.428571429;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
	}
	.mega-filter-pro .control-label {
		text-align: right;
	}
	.mega-filter-pro .mb_section {
		background: #f7f7f7;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid lightgray;
	}
</style>
<?=$footer;?>