{% include 'extension/module/mega_free_gifts/header.tpl' %}

<ul class="nav nav-tabs" id="tabs-form">
	<li class="active"><a href="#tabs-form-general" data-toggle="tab">{{ tab_general }}</a></li>
	<li><a href="#tabs-form-gifts" data-toggle="tab">{{ tab_gifts }}</a></li>
	<li><a href="#tabs-form-restrictions" data-toggle="tab">{{ tab_restrictions }}</a></li>
	<li><a href="#tabs-form-messages" data-toggle="tab">{{ tab_messages }}</a></li>
</ul>
<div class="tab-content">
	<div id="tabs-form-general" class="tab-pane active">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_type }}:</label>
			<div class="col-sm-10">
				<select class="form-control" name="type">
					<option value="first_order"{% if ( type == 'first_order' ) %} selected="selected"{% endif %}>{{ type_first_order }}</option>
					<option value="every_order"{% if ( type == 'every_order' ) %} selected="selected"{% endif %}>{{ type_every_order }}</option>
				</select>
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_mode }}:</label>
			<div class="col-sm-10">
				<select class="form-control" name="mode">
					<option value="amount"{% if ( mode == 'amount' ) %} selected="selected"{% endif %}>{{ mode_amount }}</option>
					<option value="quantity"{% if ( mode == 'quantity' ) %} selected="selected"{% endif %}>{{ mode_quantity }}</option>
				</select>
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_value }}:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="value" value="{{ value }}" />

				{% if ( _error_value is not empty ) %} 
					<div class="text-danger">{{ _error_value }}</div>
				{% endif %} 
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_max_products }}:  &nbsp; <i class="fa fa-cubes" aria-hidden="true"></i></label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="max_products" value="{{ max_products }}" />
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_status }}: &nbsp; <i class="fa fa-check" aria-hidden="true"></i></label>
			<div class="col-sm-10">
				<select class="form-control" name="status">
					<option value="1"{% if ( status ) %} selected="selected"{% endif %}>{{ text_enabled }}</option>
					<option value="0"{% if ( not status ) %} selected="selected"{% endif %}>{{ text_disabled }}</option>
				</select>
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ column_visible_on_list }}: &nbsp; <i class="fa fa-eye"></i></label>
			<div class="col-sm-10">
				<select class="form-control" name="visible_on_list">
					<option value="1"{% if ( visible_on_list ) %} selected="selected"{% endif %}>{{ text_yes }}</option>
					<option value="0"{% if ( not visible_on_list ) %} selected="selected"{% endif %}>{{ text_no }}</option>
				</select>
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ column_sort_order }}: <i class="fa fa-sort" aria-hidden="true"></i></label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="sort_order" value="{{ sort_order }}" size="1" />
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ entry_customer_groups }}  &nbsp;  <i class="fa fa-users" aria-hidden="true"></i><br><i class="small">{{ text_if_empty }}</i></label>
			<div class="col-sm-10">
				<div class="list-group well" style="width:400px; height: 100px; border: 1px solid lightgray; padding: 10px; overflow: auto;">
					{% set class = 'odd' %} 

					{% for customer_group in customer_groups %} 
						{% set class = class == 'even' ? 'odd' : 'even' %} 

						<label class="{{ class }} list-group-gift list-group-gift-action" style="font-weight: normal;">
							<input style="vertical-align: middle" type="checkbox" name="customer_group_ids[]" value="{{ customer_group['customer_group_id'] }}"{% if ( customer_group['customer_group_id'] in customer_group_ids ) %} checked="checked"{% endif %} />
							{{ customer_group['name'] }}
						</label>
					{% endfor %} 
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div id="tabs-form-gifts" class="tab-pane">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ entry_gifts }}  &nbsp;  <i class="fa fa-gift" aria-hidden="true"></i></label>
			<div class="col-sm-10">
				<table>
					<tbody id="groups-container">
						{% for g_idx, g_ids in group_gifts %}
							<tr>
								<td>
									<div class="list-group well" style="width:700px; height: 300px; padding: 10px; overflow: auto; margin-right: 10px;">
										{% for gift in gifts %} 
											<label class="list-group-gift list-group-gift-action" style="font-weight: normal; display: block;">
												<img src="{{ gift['image'] }}" class="img-thumbnail" style="margin-right: 5px;" />
												<input type="checkbox" name="group_gift[{{ g_idx }}][]" value="{{ gift['gift_id'] }}"{% if ( gift['gift_id'] in g_ids ) %} checked="checked"{% endif %} />
												{{ gift['name'] }} ({{ gift['price_format'] }})
											</label>
										{% endfor %} 
									</div>
								</td>
								<td width="150">
									<button type="button" class="btn btn-danger btn-xs" onclick="$(this).parent().parent().remove();">{{ button_remove_group }}</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<a id="add-group" class="btn btn-xs btn-primary">{{ button_add_group }}</a>
							</td>
						</tr>
					</tfoot>
				</table>
				
				<script type="text/javascript">
					(function(){
						var G_IDX = {{ g_idx is defined ? g_idx+1 : 0 }},
							GIFTS = {{ gifts_json }};

						$('#add-group').click(function(){
							$('#groups-container').append($('<tr>')
								.append($('<td>')
									.append((function(){
										var div = $('<div class="list-group well" style="width:700px; height: 300px; padding: 10px; overflow: auto; margin-right: 10px;">');

										for( var i = 0; i < GIFTS.length; i++ ) {
											div.append($('<label class="list-group-gift list-group-gift-action" style="font-weight: normal; display: block;">')
												.append($('<img class="img-thumbnail" style="margin-right: 5px">')
													.attr('src', GIFTS[i].image)
												)
												.append($('<input type="checkbox">')
													.attr({
														'name'	: 'group_gift[' + G_IDX + '][]',
														'value'	: GIFTS[i].gift_id
													})
												)
												.append( ' ' + GIFTS[i].name + ' (' + GIFTS[i].price_format + ')' )
											);
										}

										return div;
									})())
								)
								.append($('<td width="150">')
									.append('<button type="button" class="btn btn-danger btn-xs" onclick="$(this).parent().parent().remove();">{{ button_remove_group }}</button>')
								)
							);

							G_IDX++;

							return false;
						});
					})();
				</script>

				{% if ( _error_group_gift is not empty ) %} 
					<div class="text-danger">{{ _error_group_gift }}</div>
				{% endif %} 
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div id="tabs-form-restrictions" class="tab-pane">
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ column_products }}
			<br>{{ help_autocomplete }}</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="product-name" size="100" value="" style="margin-bottom: 10px;" />
				{{ text_restrictions_products_guide }}

				<div class="well" id="product-list" style="height: 300px; padding: 10px; overflow: auto; margin-top: 3px;">
					{% set class = 'odd' %} 

					{% for product in products %} 
						<div class="list-group-action" style="margin: 3px 0">
							<button type="button" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>
							<img src="{{ product['image'] }}" class="img-thumbnail" style="margin: 0 5px;" />
							<input type="hidden" name="product_ids[]" value="{{ product['product_id'] }}" />
							{{ product['name'] }}{{ product['model'] ? ' (%s)'|format( product['model'] ) : '' }} - {{ currency.format( product['price'], config_currency ) }}
						</div>
					{% endfor %} 
				</div>
			</div>
			<br>
		</div>
		<hr style="margin-bottom: 0px">
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ column_categories }}
			<br>{{ help_autocomplete }}</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="category-name" size="100" value="" style="margin-bottom: 10px;" />
				{{ text_restrictions_categories_guide }}

				<div class="well" id="category-list" style="height: 300px; padding: 10px; overflow: auto; margin-top: 3px;">
					{% set class = 'odd' %} 

					{% for category in categories %} 
						<div class="list-group-action" style="margin: 3px 0">
							<button type="button" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>
							<img src="{{ category['image'] }}" class="img-thumbnail" style="margin: 0 5px;" />
							<input type="hidden" name="category_ids[]" value="{{ category['category_id'] }}"{% if ( category['category_id'] in category_ids ) %} checked="checked"{% endif %} />
							{{ category['name'] }}
						</div>
					{% endfor %} 
				</div>
			</div>
			<br>
		</div>
	</div>

	<div id="tabs-form-messages" class="tab-pane">
		<ul class="nav nav-tabs" id="tabs-languages">
			{% for language in languages %} 
				<li><a href="#tabs-language{{ language['id'] }}" data-toggle="tab"><img src="{{ language['flag'] }}" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
			{% endfor %} 
		</ul>
		<div class="tab-content">
			{% for language in languages %} 
				<div class="tab-pane" id="tabs-language{{ language['id'] }}">
					<div class="mb_section">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ column_name }}:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" size="100" name="group_description[{{ language['id'] }}][name]" value="{{ group_description[language['id']] is defined ? group_description[language['id']]['name'] : '' }}" />
								<small>{{ column_name_help }}</small>
							</div>
							<div class="clearfix"></div>
						</div>
						<hr style="margin: 3px 0">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ column_notification }}: <i class="fa fa-comment-o"></i></label>
							<div class="col-sm-10">
								<textarea class="form-control" type="text" size="100" name="group_description[{{ language['id'] }}][notification]">{{ group_description[language['id']] is defined ? group_description[language['id']]['notification'] : column_notification_example }}</textarea>
								<small>{{ column_notification_help }} "{{ column_notification_example }}"<br />{{ column_notification_params }}</small>
							</div>
							<div class="clearfix"></div>
						</div>
						<hr style="margin: 3px 0">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ column_pre_notification }}: <i class="fa fa-comment-o"></i></label>
							<div class="col-sm-10">
								<textarea class="form-control" type="text" size="100" name="group_description[{{ language['id'] }}][pre_notification]">{{ group_description[language['id']] is defined ? group_description[language['id']]['pre_notification'] : column_pre_notification_example }}</textarea>
								<small>{{ column_pre_notification_help }} "{{ column_pre_notification_example }}"<br />{{ column_pre_notification_params }}</small>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			{% endfor %} 
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#tabs-languages a:first').tab('show');
	
	(function(){
		var types = [ 'product', 'category' ];
		
		for( var i = 0; i < types.length; i++ ) {
			(function( type ){
				$('#' + type + '-name').autocomplete({
					delay: 250,
					source: function(request, response) {
						var ids = $.map($('#' + type + '-list input[type=hidden]'), function( input ){
							return $(input).val();
						});

						$.ajax({
							url: 'index.php?route=extension/module/mega_free_gifts/' + type + '_autocomplete&user_token={{ user_token }}',
							dataType: 'json',
							type: 'post',
							data: {
								'filter_name': request,
								'filter_exclude_ids': ids.join(',')
							},
							success: function(json) {		
								response($.map(json, function(item) {
									return {
										label: item.name + ( item.model ? ' (' + item.model + ')' : '' ) + ( item.price ? ' - ' + item.price : '' ),
										name: item.name,
										value: item[type + '_id'],
										model: item.model,
										price: item.price,
										image: item.image
									};
								}));
							}
						});
					}, 
					select: function(item) {			
						$('#' + type + '-list').append(
							'<div class="list-group-action" style="margin:3px 0">' +
								'<button type="button" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></button>' +
								( item.image ? '<img src="' + item.image + '" class="img-thumbnail" style="margin: 0 5px;" />' : '' ) +
								'<input type="hidden" name="' + type + '_ids[]" value="' + item.value + '" />' +
								item.label +
							'</div>'
						);
					
						$('#' + type + '-name').val('');

						return false;
					},
					focus: function(item) {
						return false;
					}
				});
			})( types[i] );
		}
	})();
	
	$(document).on('click', '.list-group-action button', function(){
		$(this).parent().remove();
	});
</script>

{% include 'extension/module/mega_free_gifts/footer.tpl' %}