{% include 'extension/module/mega_free_gifts/header.tpl' %}

<div class="buttons">
	<a href="{{ action_add }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ button_insert }}</a>
	<a onclick="$('form').submit();" class="btn btn-danger"><i class="fa fa-pencil"></i> {{ button_delete }}</a>
</div>

<br />

<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<td width="1" class="text-center">
				<input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" />
			</td>
			<td class="text-center">{{ column_type }} <i class="fa fa-quote-right"></i></td>
			<td class="text-center">{{ column_status }} <i class="fa fa-check"></i></td>
			<td class="text-center">{{ column_visible_on_list }} <i class="fa fa-eye"></i></td>
			<td class="text-center">{{ column_sort_order }} <i class="fa fa-sort"></i></td>
			<td class="text-center" width="100">{{ column_action }} <i class="fa fa-edit"></i></td>
		</tr>
	</thead>
	<tbody>
		{% if ( groups ) %} 
			{% for group in groups %} 
				<tr>
					<td class="text-center">
						<input type="checkbox" name="selected[]" value="{{ group['group_id'] }}"{% if ( group['selected'] ) %} checked="checked"{% endif %} />
					</td>
					<td>
						{{ group['name'] }} - 
						{% if ( group['amount'] is not empty ) %} 
							{{ group['amount'] }} - 
						{% endif %} 
						{% if ( group['type'] == 'first_order' ) %} 
							{{ type_first_order }} 
						{% elseif ( group['type'] == 'every_order' ) %} 
							{{ type_every_order }} 
						{% endif %} 
					</td>
					<td class="text-center">{{ group['status'] ? text_enabled : text_disabled }}</td>
					<td class="text-center">{{ group['visible_on_list'] ? text_yes : text_no }}</td>
					<td class="text-center">{{ group['sort_order'] }}</td>
					<td class="text-center">
						{% for action in group['action'] %} 
							<a class="btn btn-primary" href="{{ action['href'] }}"><i class="fa fa-pencil"></i></a>
						{% endfor %} 
					</td>
				</tr>
            {% endfor %} 
		{% else %} 
			<tr>
				<td class="center" colspan="5">{{ text_no_results }}</td>
			</tr>
		{% endif %} 
	</tbody>
</table>

<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>

{% include 'extension/module/mega_free_gifts/footer.tpl' %}