{% include 'extension/module/mega_free_gifts/header.tpl' %}

<br /><br />
<center>
	<font style="font-weight:300; font-size: 30px;">Thank you for choosing</font> <font style="font-weight:400; font-size: 30px;">Mega Free Gifts</font>
</center>
<br />
<hr />

<table style="margin: 0 auto;">
	<tbody>
		{% if ( _error_warning2 is not empty ) %} 
		<tr><td><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ _error_warning2 }} 
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div></td></tr>
		{% endif %} 
		{% if ( files is not empty ) %} 
			<tr>
				<td class="text-center">
					Make sure that these files exist and that has permissions to write to them:<br /><br />
					<pre class="text-left">{{ files|join( '<br />' ) }}</pre>
					<br />
					
					<a href="{{ action }}" class="btn btn-primary"><i class="fa fa-refresh"></i> Check permissions again</a>
					<br />
					<br />
					<br />
					
					<font style="font-weight:300; font-size: 20px;">How to change the file permissions ?</font>
					<br />
					<br />

					<img src="{{ HTTP_URL }}view/stylesheet/mf/images/permissions.jpg" style="max-width: 100%; border: 1px solid #ccc; padding: 5px;" />
					
				</td>
			</tr>
		{% else %} 
			<tr>
				<td class="text-center">
					To complete installation, please enter your <strong>Activation Key</strong>:
					<table style="margin: 20px auto;">
						<tr>
							<td class="text-left" style="padding: 5px; text-align: center;">
								<input type="text" name="activation_key" value="{{ _POST['activation_key'] is empty ? '' : _POST['activation_key'] }}" class="form-control" style="width: 429px; font-family: 'Courier New', Courier, monospace" placeholder="_____-______-_____-_____-_____-_____-_____-_____" />
								<small>You can't find it? <a href="https://support.ocdemo.eu/auth/forgot-activation-key" target="_blank">Click here</a></small>
							</td>
						</tr>
					</table>
					<button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-check"></i>&nbsp;&nbsp;Confirm</button>
				</td>
			</tr>
			<tr>
				<td>
					<br />
					<br />
					<font style="font-weight:300; font-size: 20px;">Remember!</font>
					<div class="help-block">
						<ol>
							<li>If two times you enter incorrect data, the ability to activate the extension will be blocked for 48 hours.</li>
						</ol>
					</div>
				</td>
			</tr>
		{% endif %} 
		<tr>
			<td class="text-center">
				<br />
				<br />
				<br />
				<font style="font-weight:300; font-size: 20px;">Problems with the installation?</font>
				<br />
				<br />
				
				If you don't know how to finish installation of the module please contact us: <a href="mailto:support@ocdemo.eu">support@ocdemo.eu</a><br />
				(don't forget to include your Activation Key)
			</td>
		</tr>
	</tbody>
</table>
<br /><br />
{% include 'extension/module/mega_free_gifts/footer.tpl' %}