{% include 'extension/module/mega_free_gifts/header.tpl' %}

<ul class="nav nav-tabs" id="tabs-form">
	<li class="active"><a href="#tabs-form-general" data-toggle="tab">{{ tab_general }} <i class="fa fa-cog" aria-hidden="true"></i></a></li>
	<li><a href="#tabs-form-layout" data-toggle="tab">{{ tab_layout }} <i class="fa fa-gift" aria-hidden="true"></i></a></li>
</ul>
<div class="tab-content">
	<div id="tabs-form-general" class="tab-pane active">
		<div class="mb_section">
		<p>
			<i style="font-size: 24px" class="fa fa-cog" aria-hidden="true"></i> &nbsp;  <b>General:</b>
		</p>
		<br>
		<div class="tab-pane">
			<div class="form-group">
				<label class="col-sm-2 control-label">{{ text_status }}  &nbsp; <i class="fa fa-check" aria-hidden="true"></i></label>
				<div class="col-sm-2">
					<select class="form-control" name="mfg_settings[status]">
						<option {{ mfg_settings.status != '1' ? 'selected="selected"' : '' }} value="">{{ text_disabled }}</option>
						<option {{ mfg_settings.status == '1' ? 'selected="selected"' : '' }} value="1">{{ text_enabled }}</option>
					</select>
				</div>
				<br>
				<br>
			</div>
			<hr style="margin-bottom: 0px;border-top: 1px solid #ccc6c6; ">
			<br>
		</div>
		<p>
			<i style="font-size: 24px" class="fa fa-shopping-basket" aria-hidden="true"></i> &nbsp;  <b>{{ tab_shopping_cart }}: </b>
		</p>
		<br>
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ entry_select_first_gift }} <br><i class="small">{{ text_select_first_gift }}</i></label>
			<div class="col-sm-2">
				<select class="form-control" name="mfg_settings[select_first_gift]">
					<option {{ mfg_settings['select_first_gift'] is empty ? 'selected="selected"' : '' }} value="">{{ text_no }}</option>
					<option {{ mfg_settings['select_first_gift'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_yes }}</option>
				</select>
			</div>
			<label class="col-sm-2 control-label">{{ entry_display_gifts_in_basket }} <br><i class="small">{{ text_display_gifts_in_basket }}</i></label>
			<div class="col-sm-2">
				<select class="form-control" name="mfg_settings[display_gifts_in_basket]">
					<option {{ mfg_settings['display_gifts_in_basket'] is empty ? 'selected="selected"' : '' }} value="">{{ text_no }}</option>
					<option {{ mfg_settings['display_gifts_in_basket'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_yes }}</option>
				</select>
			</div>
			<br>
			<br>
		</div>
		<hr style="margin-bottom: 0px;border-top: 1px solid #ccc6c6;">
		<br>
		<p>
			<b>{{ text_selected_gifts_table }}: </b>
			<br /><i class="small">{{ text_display_selected_gifts_table }}</i>
		</p>
		<br>
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ entry_enabled }}</label>
			<div class="col-sm-2">
				<select class="form-control" name="mfg_settings[selected_gifts_table][enabled]">
					<option {{ mfg_settings['selected_gifts_table']['enabled'] is empty ? 'selected="selected"' : '' }} value="">{{ text_no }}</option>
					<option {{ mfg_settings['selected_gifts_table']['enabled'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_yes }}</option>
				</select>
			</div>
			<label class="col-sm-2 control-label">{{ entry_display_model_column }}</label>
			<div class="col-sm-2">
				<select class="form-control" name="mfg_settings[selected_gifts_table][model_column]">
					<option {{ mfg_settings['selected_gifts_table']['model_column'] is empty ? 'selected="selected"' : '' }} value="">{{ text_no }}</option>
					<option {{ mfg_settings['selected_gifts_table']['model_column'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_yes }}</option>
				</select>
			</div>
			<label class="col-sm-2 control-label">{{ entry_product_name_is_link }}</label>
			<div class="col-sm-2">
				<select class="form-control" name="mfg_settings[selected_gifts_table][product_name_link]">
					<option {{ mfg_settings['selected_gifts_table']['product_name_link'] is empty ? 'selected="selected"' : '' }} value="">{{ text_no }}</option>
					<option {{ mfg_settings['selected_gifts_table']['product_name_link'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_yes }}</option>
				</select>
			</div>
			<br>
			<br>
		</div>
		<hr style="margin-bottom: 0px;border-top: 1px solid #ccc6c6;">
		<br>
		<p>
			<b>{{ tab_checkout }}: </b>
		</p>
		<br>
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ text_if_not_select_gift }} &nbsp; <i class="fa fa-check-square-o" aria-hidden="true"></i></label>
			<div class="col-sm-5">
				<select class="form-control" name="mfg_settings[notify_customer]">
					<option {{ ( mfg_settings['notify_customer'] is defined and mfg_settings['notify_customer'] == 1) ? 'selected="selected"' : '' }} value="1">{{ text_not_notify }}</option>
					<option {{ mfg_settings['notify_customer'] is defined and mfg_settings['notify_customer'] == 2 ? 'selected="selected"' : '' }} value="2">{{ text_notify_customer }}</option>
					<option {{ mfg_settings['notify_customer'] is defined and mfg_settings['notify_customer'] == 3 ? 'selected="selected"' : '' }} value="3">{{ text_notify_and_redirect }}</option>
				</select>
			</div>
			<br>
			<br>
		</div>
		<br>
		</div>
	</div>
	
	<div id="tabs-form-layout" class="tab-pane">
		<div class="mb_section">
		<p>
			<i style="font-size: 24px" class="fa fa-gift" aria-hidden="true"></i> <b>{{ text_settings }}:</b>
		</p>
		<br>
		<div class="form-group">
			<label class="col-sm-2 control-label">{{ text_gift_list_page_url }}: &nbsp; <i class="fa fa-external-link"></i></label>
			<div class="col-sm-10">
				<a href="{{ constant('HTTP_CATALOG') }}index.php?route=extension/module/mega_free_gifts" target="_blank">{{ constant('HTTP_CATALOG') }}extension/module/mega_free_gifts</a>
			</div>
			<br>
		</div>
		<hr style="border-top: 1px solid #ccc6c6;">
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ entry_rows }}</label>
			<div class="col-sm-10">
				<label><input type="radio" name="mfg_settings[gifts_page][rows]" value="12" {{ mfg_settings['gifts_page']['rows']=='12'?'checked="checked"':'' }} /> 1</label>&nbsp;&nbsp;
				<label><input type="radio" name="mfg_settings[gifts_page][rows]" value="6" {{ mfg_settings['gifts_page']['rows']=='6'?'checked="checked"':'' }} /> 2</label>&nbsp;&nbsp;
				<label><input type="radio" name="mfg_settings[gifts_page][rows]" value="4" {{ mfg_settings['gifts_page']['rows']=='4'?'checked="checked"':'' }} /> 3</label>&nbsp;&nbsp;
				<label><input type="radio" name="mfg_settings[gifts_page][rows]" value="3" {{ mfg_settings['gifts_page']['rows']=='3' or mfg_settings['gifts_page']['rows'] is empty?'checked="checked"':'' }} /> 4</label>&nbsp;&nbsp;
				<label><input type="radio" name="mfg_settings[gifts_page][rows]" value="2" {{ mfg_settings['gifts_page']['rows']=='2'?'checked="checked"':'' }} /> 6</label>
				
					{% if ( _error_rows is not empty ) %} 
						<div class="text-danger">{{ _error_image_size }}</div>
					{% endif %} 
			</div>
			<br>
		</div>
		<br>
		<div class="form-group required">
			<label class="col-sm-2 control-label">{{ entry_image_size }} <br> <i class="small">{{ help_image_size }}</i></label>
			<div class="col-sm-10">
				<table>
					<tr>
						<td>
							<div class="input-group">
								<input class="form-control" placeholder="228" type="text" size="2" value="{{ mfg_settings['gifts_page']['image_width']?mfg_settings['gifts_page']['image_width']:228 }}" name="mfg_settings[gifts_page][image_width]" />
								<div class="input-group-addon">px</div>
							</div>
						</td>
						<td>&nbsp;&nbsp;x&nbsp;&nbsp;</td>
						<td>
							<div class="input-group">
								<input class="form-control" type="text" size="2" value="{{ mfg_settings['gifts_page']['image_height']?mfg_settings['gifts_page']['image_height']:228 }}" name="mfg_settings[gifts_page][image_height]" placeholder="228" />
								<div class="input-group-addon">px</div>
							</div>
						</td>
					</tr>
				</table>
					{% if ( _error_image_size is not empty ) %} 
						<div class="text-danger">{{ _error_image_size }}</div>
					{% endif %} 
			</div>
			<br>
		</div>
		<br>
		<hr style="border-top: 1px solid #ccc6c6;">
		<div class="panel-body" >
			<ul class="nav nav-tabs" id="tabs-languages">
				{% for language in languages %} 
					<li><a href="#tabs-language{{ language['id'] }}" data-toggle="tab"><img src="{{ language['flag'] }}" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
				{% endfor %} 
			</ul>
			<div class="tab-content">
				{% for language in languages %} 
					<div class="tab-pane" id="tabs-language{{ language['id'] }}">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ column_description }}:   &nbsp;  <i class="fa fa-file-text" aria-hidden="true"></i></label>
							<div class="col-sm-10">
								<textarea data-toggle="summernote" name="mfg_settings[gifts_page][description][{{ language['id'] }}]">{{ mfg_settings['gifts_page']['description'][language['id']] is defined ? mfg_settings['gifts_page']['description'][language['id']] : '' }}</textarea>
							</div>
							<br>
						</div>
					</div>
				{% endfor %} 
			</div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
 
<script type="text/javascript">
	$('#tabs-languages a:first').tab('show');
</script> 

{% include 'extension/module/mega_free_gifts/footer.tpl' %}