{{ header }}{{ column_left }} 

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				{% if ( action is not empty ) %} 
					<button id="mpc-save-form" type="button" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				{% endif %} 
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			
			<script type="text/javascript">
				jQuery('#mpc-save-form').click(function(){
					jQuery('#form').submit();
						
					return false;
				});
			</script>
			
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
					<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="container-fluid">
			{% if ( _error_warning is not empty ) %} 
				<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ _error_warning }} 
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endif %} 

			{% if ( _success is not empty ) %} 
				<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ _success }} 
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endif %} 
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body mega-filter-pro" id="mpc-main-content">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
				<div class="mb_section">
				<p>
					<i style="font-size: 24px" class="fa fa-cog" aria-hidden="true"></i> &nbsp; <b>{{ text_edit_gifts_module }}:</b>
				</p>
				<br>										
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ text_status }} &nbsp; {{ data['status'] is defined and data['status'] == 1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-close"></i>' }}</label>
						<div class="col-sm-2">
							<select class="form-control" name="data[status]">
								<option {{ data['status'] is empty ? 'selected="selected"' : '' }} value="">{{ text_disabled }}</option>
								<option {{ data['status'] is not empty ? 'selected="selected"' : '' }} value="1">{{ text_enabled }}</option>
							</select>
						</div>
						<br>
					</div>
					<hr>
					<div class="form-group required">
						<label class="col-sm-2 control-label">{{ text_module_name }}</label>
						<div class="col-sm-9">
						<input type="text" placeholder="" value="{{ data['name'] is defined ? data['name'] : '' }}" class="form-control" name="data[name]">
						{% if (_error_name is defined) %} 
							<div class="text-danger">{{ error_name }}</div>
						{% endif %} 
						</div>
						<br>
					</div>
					<hr>
					<div class="form-group required">
						<label class="col-sm-2 control-label">{{ entry_image_size }}</label>
						<div class="col-sm-10">
							<input class="form-control" style="display: inline; width: auto;" type="text" size="3" value="{{ data['mod_gifts_image_width'] is defined ? data['mod_gifts_image_width'] : '100' }}" name="data[mod_gifts_image_width]" /> x <input class="form-control" style="display: inline; width: auto;" type="text" size="3" value="{{ data['mod_gifts_image_height'] is defined ? data['mod_gifts_image_height'] : '100' }}" name="data[mod_gifts_image_height]" />
							{% if (_error_image_size is defined) %} 
								<div class="text-danger">{{ error_image_size }}</div>
							{% endif %} 
						</div>
						<br>
					</div>
					<hr>
					<div class="tab-pane">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_display_like }} &nbsp; <i class="fa fa-square active first" aria-hidden="true"></i> / <i class="fa fa-th second"></i></label>
							<div class="col-sm-3">
								<select class="form-control" name="data[mod_gifts_grid]">
									<option {{ data['mod_gifts_grid'] is defined and data['mod_gifts_grid'] == 1 ? 'selected="selected"' : '' }} value="1">{{ text_grid_1 }}</option>
									<option {{ data['mod_gifts_grid'] is defined and data['mod_gifts_grid'] == 3 ? 'selected="selected"' : '' }} value="3">{{ text_grid_3 }}</option>
								</select>
							</div>
						</div>
						<br>
					</div>
					<hr>
					<div class="tab-pane">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ text_slider_type }} &nbsp; <i class="fa fa-sliders" aria-hidden="true"></i></label>
							<div class="col-sm-3">
								<select class="form-control" name="data[mod_gift_slider_type]">
									<option {{ data['mod_gift_slider_type'] is defined and data['mod_gift_slider_type'] == 'tabs' ? 'selected="selected"' : '' }} value="tabs">{{ text_view_with_tabs }}</option>
									<option {{ data['mod_gift_slider_type'] is defined and data['mod_gift_slider_type'] == 'slider' ? 'selected="selected"' : '' }} value="slider">{{ text_view_without_tabs }}</option>
								</select>
							</div>
						</div>
					</div>
					<br><br>
					<div class="clearfix"></div>
				</div>
{% include 'extension/module/mega_free_gifts/footer.tpl' %}