/**************************************************/
/*                  G E N E R A L                 */
/**************************************************/
.label-top {
	padding-top: 0px !important;
}
.drag-handle {
	float: right;
	cursor: pointer;
}

