#import {
	width: 100%;
}
#import .left {
	width: 65.9574%;
	display: block;
	float: left;
}
#import .right {
	width: 32.9149%;
	float: right;
}
#import .box-heading {
	cursor: default;
}
#import .left .box-content,  #import .right .box-content {
	padding: 10px;
	border: 1px solid #dbdbdb;
}
#import .left .box-heading,  #import .right .box-heading {
	height: 40px;
	line-height: 40px;
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: #454545;
}
.icon {
	padding-left: 43px;
}
.icon-xml {
	background: url(../image/icon_xml.png) no-repeat 8px 4px;
}
.icon-setting {
	background: url(../image/icon_setting.png) no-repeat 8px 4px;
}
.icon-info {
	background: url(../image/icon_info.png) no-repeat 8px 4px;
}
.icon-preview {
	background: url(../image/icon_preview.png) no-repeat 8px 4px;
}
#import .nav-tabs {
	height: 55px;
	padding-left: 10px;
}
#import .nav-tabs li {
	height: 55px;
	line-height: 55px;
	margin: 0px 1px 0px 1px;
}
#import .nav-tabs li a {
	height: 55px;
	outline: none;
	cursor: pointer;
}
#import .nav-tabs li a {
	background: #f9f9f9;
	border: 1px solid #e9e9e9;
	border-bottom: 1px solid #dddddd;
}
#import .nav-tabs li.active a {
	background: #fff;
	border-bottom: 1px solid #fff;
}
#import .nav-tabs li.active a, #import .nav-tabs li.active a span.number {
	color: #000;
}
#import .nav-tabs li a span.number {
	width: 25px;
	height: 15px;
	line-height: 15px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	padding: 0px 5px;
	color: #BCBCBC;
	font-size: 32px;
	font-weight: bold;
}
#import .nav-tabs li a span.tab-name {
	display: block;
	font-weight: bold;
	min-width: 180px;
	line-height: 20px;
}
#import .nav-tabs li a i {
	display: block;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	font-weight: normal;
}
#xml_url_result {
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 0px 0px -8px 0px;
	display: inline-block;
}
.icon-result-loading {
	background: url(../image/icon_loading.gif) no-repeat center !important;
}
.icon-result-success {
	background: url(../image/icon_success.png) no-repeat center !important;
}
.icon-result-error {
	background: url(../image/icon_error.png) no-repeat center !important;
}
.icon-result-info {
	background: url(../image/icon_info.png) no-repeat center !important;
}
#xml_structure .row {
	height: 40px;
	line-height: 40px;
	display: block;
	border-top: 1px dotted #cccccc;
}
#xml_structure .row:first-child {
	border-top: none;
}
#xml_structure .row:hover {
	background: #f6f6f6;
}
#xml_structure .row-open:hover {
	background: none;
}
#xml_structure i {
	font-weight: bold;
}
#xml_structure span.tag_name {
	font-weight: bold;
}
#xml_structure span.level-0 {
	margin-left: 0px;
}
#xml_structure span.level-1 {
	margin-left: 10px;
}
#xml_structure span.level-2 {
	margin-left: 20px;
}
#xml_structure span.level-3 {
	margin-left: 30px;
}
#xml_structure span.level-4 {
	margin-left: 40px;
}
#xml_structure span.level-5 {
	margin-left: 50px;
}
#xml_structure .tag_content {
	float: right;
	border-left: 1px dotted #cccccc;
	padding: 0px 10px;
	text-align: right;
	display: inline-block;
}
#product-preview table,   #xml-import-info table {
	width: 100%;
}
#product-preview table td,   #xml-import-info table td {
	height: 24px;
	color: #3f3f3f;
	padding: 3px 8px;
}
#product-preview table td.name,  #xml-import-info table td.name {
	width: 150px;
	font-weight: bold;
}
#product-preview table tr + tr td,  #xml-import-info table tr + tr td {
	border-top: 1px solid #eeeeee;
}
#product-preview table thead td,  #xml-import-info table thead td {
	background: #eeeeee;
	font-weight: bold;
}
#import select {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 30px;
	min-width: 212px;
	background-color: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#import select {
	width: 212px;
}
#import input[type=text] {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 28px;
	padding: 0px 5px;
	min-width: 200px;
	background-color: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#import textarea {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 28px;
	padding: 0px 5px;
	min-width: 200px;
	background-color: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#import input[type=text]:hover,  #import select:hover {
	border: 1px solid #ababab;
	background-color: #fefefe;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#import input[type=text]:focus,  #import select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
#import .buttons select {
	margin-top: -3px;
	width: 180px;
}
.scrollbox {
	width: 100%;
}
.scrollbox-update_items {
	height: 300px;
}
span.help {
	width: 22px;
	height: 22px;
	display: block;
	float: right;
	position: normal;
	cursor: help;
	margin-top: 4px;
	background: url(../image/icon_help.png) no-repeat;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	opacity: 0.3;
}
span.help:hover {
	opacity: 0.5;
}
span.button-refresh {
	width: 24px;
	height: 24px;
	display: block;
	float: right;
	cursor: pointer;
	margin: 5px 10px 0px 0px;
	background: url(../image/icon_refresh.png) no-repeat;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	opacity: 0.3;
}
span.button-refresh:hover {
	opacity: 0.5;
}
#feed_url {
	width: 220px;
}
#xml_url_result_text {
	font-size: 11px;
	padding-top: 5px;
	display: block;
	width: 80%;
}
.full-loading {
	min-width: 100%;
	min-height: 300px;
	display: block;
	background: url(../image/icon_loading_big.gif) no-repeat center center;
}
.xml-error {
	min-width: 100%;
	min-height: 100px;
	padding: 200px 0px 0px 0px;
	text-align: center;
	font-size: 20px;
	display: block;
	color: #fc6d6d;
	background: url(../image/icon_xml_error.png) no-repeat center center;
}
#delete-import-link {
	text-decoration: none;
}
.unselect_import {
	opacity: 0.7;
	background: url(../image/unselect_import.jpg) no-repeat right 5px;
}
.create_import {
	opacity: 0.7;
	background: url(../image/create_import.jpg) no-repeat right 5px;
}
/* buttons */
.btn {
	margin-top: -1px;
	outline: none !important;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #cccccc;
	*border: 0;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.btn:active, .btn.active {
	background-color: #cccccc \9;
}
.btn:first-child {
	*margin-left: 0;
}
.btn:hover, .btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-large {
	padding: 11px 19px;
	font-size: 16.25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
	margin-top: 4px;
}
.btn-small {
	padding: 2px 10px;
	font-size: 11.049999999999999px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
	margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	margin-top: -1px;
}
.btn-mini {
	padding: 0 6px;
	font-size: 9.75px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-block+.btn-block {
	margin-top: 5px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width: 100%;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #365690;
	background-image: -moz-linear-gradient(top, #366290, #364490);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#366290), to(#364490));
	background-image: -webkit-linear-gradient(top, #366290, #364490);
	background-image: -o-linear-gradient(top, #366290, #364490);
	background-image: linear-gradient(to bottom, #366290, #364490);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff366290', endColorstr='#ff364490', GradientType=0);
	border-color: #364490 #364490 #212a58;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #364490;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #364490;
	*background-color: #2f3b7d;
}
.btn-primary:active, .btn-primary.active {
	background-color: #28326b \9;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #f89406;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}
.btn-warning:active, .btn-warning.active {
	background-color: #c67605 \9;
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #bd362f;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}
.btn-danger:active, .btn-danger.active {
	background-color: #942a25 \9;
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #51a351;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color: #ffffff;
	background-color: #51a351;
	*background-color: #499249;
}
.btn-success:active, .btn-success.active {
	background-color: #408140 \9;
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #2f96b4;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color: #ffffff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}
.btn-info:active, .btn-info.active {
	background-color: #24748c \9;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #222222;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color: #ffffff;
	background-color: #222222;
	*background-color: #151515;
}
.btn-inverse:active, .btn-inverse.active {
	background-color: #080808 \9;
}
button.btn, input[type="submit"].btn {
	*padding-top: 3px;
	*padding-bottom: 3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
	*padding-top: 3px;
	*padding-bottom: 3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
	*padding-top: 1px;
	*padding-bottom: 1px;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: #366290;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-link:hover, .btn-link:focus {
	color: #213c58;
	text-decoration: underline;
	background-color: transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
	color: #333333;
	text-decoration: none;
}
#modal-add-import .modal-body {
	text-align: center;
}
#modal-add-import .modal-body label {
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	line-height: 25px;
}
#modal-add-import .modal-body input[type=text] {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 28px;
	padding: 0px 5px;
	min-width: 200px;
	background-color: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#modal-add-import .modal-body input[type=text]:hover {
	border: 1px solid #ababab;
	background-color: #fefefe;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
#modal-add-import .modal-body input[type=text]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
#modal-import .modal-body .row {
	display: block;
	line-height: 35px;
}
#modal-import .modal-body .row + .row {
	border-top: 1px dashed #e5e5e5;
}
#modal-import .modal-body .row label {
	width: 140px;
	display: inline-block;
}
#modal-import .modal-body textarea {
	width: 536px;
	height: 15px;
	padding: 15px;
	text-align: center;
	resize: none;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}
#import-popup-main, #import-popup-cron-links {
	display: none;
}
#import-popup-progress span.name {
	font-weight: 600;
}
#import-popup-progress span.value {
	float: right;
	text-align: right;
}
#import-popup-progress .hr {
	border-top: 1px solid #e5e5e5;
	margin-bottom: 15px;
}
#import-popup-progress #progressbar {
	width: 568px;
	height: 20px;
	display: block;
	margin: 0 auto;
	background: url(../image/progressbar.png) repeat-x top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#import-popup-progress #progress {
	height: 20px;
	width: 0px;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(../image/progressbar.png) repeat-x bottom;
}
#import-popup-progress .mini-loading {
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	margin: 12px 0px 0px 0px;
	background: url(../image/mini-loading.gif) no-repeat;
}
#tab-import label {
	font-weight: bold;
	display: inline-block;
}
#tab-import textarea {
	width: 600px;
	height: 150px;
	padding: 5px 7px;
	resize: none;
}
.clear {
	clear: both;
}
#import-copyright {
	margin-top: 20px;
	text-align: right;
	padding: 0px 10px;
	color: #212121;
}
#import-copyright a {
	color: #212121;
	text-decoration: underline;
}
#import-copyright a:hover {
	color: #000;
	text-decoration: none;
}
.create_import #import-copyright, .unselect_import #import-copyright {
	margin-top: 280px;
}
#success-done {
	display: none;
	padding: 10px;
	margin: -10px 0px -9px 0px;
	text-align: center;
	text-transform: upperCase;
	color: #1e8321;
	text-shadow: 1px 1px 0px #f9fff3;
	font-weight: bold;
	font-size: 14px;
	background: #e9f9e5;
	border: 1px solid #b3e8a9;
}
#block-progress {
	display: none;
}
input[type=text]#feed_data_price_edit {
	min-width: 50px;
	width: 50px;
}
select#feed_data_price_edit_type {
	min-width: 110px;
	width: 110px;
}
.form {
	width: 100%;
}
.form tr td {
	padding: 10px 0px;
	line-height: 10px;
	border-bottom: 1px dotted #cccccc;
}
.form tr td:first-child {
	width: 35%;
	padding-right: 30px;
}
.form tr td:nth-child(2) label {
	margin-left: 5px;
}
.form tr td small {
	font-size: 10px;
}
.tooltip {
	position: static !important;
}
#update-items, #store-items {
	margin-bottom: 0px;
}
#update-items label, #store-items label {
	margin-left: 10px;
}
.heading-actions {
	float: right;
	margin-top: -5px;
}
.heading-actions input[type=button] {
	margin-top: -2px;
}
#modal-import .modal-body .row {
	margin: 0px !important;
}
.tooltip-download {
	margin-top: -42px !important;
}
.importButton {
	margin-top: 2px !important;
}
.box-content .row {
	margin: 0px;
}