/* Social Media Font Start */
@font-face {
  font-family: 'iSenseLabs-Social-Icons';
  src:  url('fonts/iSenseLabs-Social-Icons.eot?v0twaw');
  src:  url('fonts/iSenseLabs-Social-Icons.eot?v0twaw#iefix') format('embedded-opentype'),
    url('fonts/iSenseLabs-Social-Icons.ttf?v0twaw') format('truetype'),
    url('fonts/iSenseLabs-Social-Icons.woff?v0twaw') format('woff'),
    url('fonts/iSenseLabs-Social-Icons.svg?v0twaw#iSenseLabs-Social-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="issm-"], [class*=" issm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iSenseLabs-Social-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.issm-facebook:before {
  content: "\e900";
}
.issm-google:before {
  content: "\e901";
}
.issm-instagram:before {
  content: "\e902";
}
.issm-linkedin:before {
  content: "\e903";
}
.issm-twitter:before {
  content: "\e904";
}
/* Social Media Font End */

.table>tbody>tr>td {
  vertical-align: middle;
}

.table tr:first-child td {
  border-top: none;
}

.required {
  color: red;	
}

.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0px;
}

#main_settings_sub_tab .input-group {
  max-width: 137px;
}

.messageSubject {
  margin-bottom: 20px;
}

.list tbody td a {
  text-decoration: none;
}

.tab-navigation {
  position: relative;
}

.tab-navigation .nav {
  margin-bottom: 20px;
}

.tab-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.center {
  text-align: center;
}

.registeredDomains {
  padding: 0;
  margin: 0;
  list-style: none;
}

.licenseAlerts {
  margin-top: 10px;
}

/* iModules */

.iModuleContent .box .notActivatedContent {
  padding: 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-height: 300px;
  overflow: auto;
  text-align: center;
  padding-top: 80px;
}

.iModuleContent .iModuleActivateButton {
  background: #069;
  padding: 16px 28px;
  color: white;
  border: 4px solid #fff;
  outline: 4px solid #ccc;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.iModuleContent .iModuleActivateButton:hover {
  background: #06d;
}

/* ADMIN PANEL STYLES - END */

.colorsLi .colorPreview {
  width: 18px;
  height: 18px;
  background: #ccc;
  border: 1px solid #aaa;
}

.colorsLi tr th {
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
}

.colorsLi tr td {
  text-align: left;
}

/*Support tab*/
.panel-body .notLicensedTable, .panel-body .licensedTable {
  table-layout: fixed;
}

.panel-body .notLicensedTable .form-group, .panel-body .licensedTable .form-group {
  margin-bottom: 15px;
}

.panel-body .notLicensedTable ul, .panel-body .licensedTable ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-body .notLicensedTable tr > td {
  padding: 10px 0;
}

.panel-body .box-content {
  padding: 10px;
  border: 1px solid #DBDBDB;
  overflow: auto;
}



.notLicensedTable .small-link {
  font-size: 12px;
}



.cke * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

.notificationMessageTabs {
  margin: 20px 0;
}

.form-control.customCss {
  height: 80px;
  min-height: 80px;
}

.storeSwitcherWidget {
  position: absolute;
  right: 15px;
  top: 8px;
}

.storeSwitcherWidget .form-group {
  margin-bottom: 0;
}

.storeSwitcherWidget .form-group.open .dropdown-menu {
  right: 0;
  left: auto;
}

.table-header {
	background: #EFEFEF;
}
a.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}

a:visited.btn-info {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;	
}

.left-entry-item {
	margin-top: 7px;
	float: left;
}

.language_folder, .language_file.top_file {
	margin: 0;
	margin-left: 20px;
}

.language_file {
	margin: 0;
	margin-left: 40px;
}

.language_file a.current {
	text-decoration: underline;
}

.language_field input {
	padding: 0 10px;
	margin: 3px 0;
	font-family: Consolas, 'Courier New', sans-serif;
}

.language_field textarea {
	margin: 3px 0;
	height: 15px;
	min-width: 400px;
	font-family: Consolas, 'Courier New', sans-serif;
	transition: height 0.2s;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
}

div.language_buttons {
	margin: 20px 0;
}

.remove_entry {
	padding: 1px 6px;
	margin-left: 5px;
}

.control-group {
	padding: 0;
}

.control-group .control-label {
	width: 150px;
	padding: 8px 0 0 0;
	margin: 0;
}

.control-group .controls {
	margin-left: 160px;
}

.navbar .navbar-inner .nav-tabs {
	border-bottom: none;
	margin-top: 5px;
}

.navbar .navbar-inner .nav-tabs a {
	padding: 7px 15px;
}

#module thead {
	background-color: #eee;
}

#module td {
	vertical-align: middle;
}


td input[type="number"] {
	width: 80px;
}

.module-row-label {
	float: left;
	width: 80px;
	margin-top: 12px;
}

.leftBoxTitle {
	display:inline-block;	
	margin-right: 10px;
}

.leftBoxTitle label {
	margin: 0;
}

.leftBoxInput input {
	margin: 0;
}

.leftBoxInput {
	display: inline-block;
	margin-right: 3px;
	margin-left: 9px;
	margin-top: 9px;
	margin-bottom: 3px;
}

.buttonPositionOpenCart {
	display:inline-block;
	min-width: 140px;
	padding-left: 0px;
}

.buttonPositionOpenCart:first-child {
	padding-left: 0px;	
}

/* -- Facebook Standard Login Button -- */

a.fbkStandardBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Tahoma, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	height: 19px;
	line-height: 18px;
	text-align: center;
	padding: 0 10px 0 31px;
	background-color: #5f78ab;
	border-top: 1px solid #879ac0;
	outline: 1px solid #29447e;
	position: relative;
}

a.fbkStandardBtn span {
	width: 21px;
	height: 20px;
	padding: 0;
	margin: 0;
	left: 0;
	top: -1px;
	position: absolute;
	background: url("../../image/facebooklogin/fbkIconStandardBtn.png") no-repeat left top;	
}

a.fbkStandardBtn:active {
	background-color: #4f6aa3;
	border-top: 1px solid #50609c;
}


/* -- End -- */


/* -- Facebook Metro Style Login Button -- */

a.fbkMetroStyleBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 20px 0 58px;
	background-color: #3b5998;
	position: relative;
	transition: background-color 700ms ease-in-out;
	-moz-transition: background-color 700ms ease-in-out;
	-webkit-transition: background-color 700ms ease-in-out;
	-o-transition: background-color 700ms ease-in-out;
}

a.fbkMetroStyleBtn span {
	width: 38px;
	height: 36px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/facebooklogin/fbkIconMetroBtn.png") no-repeat left top;
}

a.fbkMetroStyleBtn:hover {
	background-color: #2e4b89;
}


/* -- End -- */


/* -- Facebook Rounded Login Button -- */

a.fbkRoundedBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 20px 0 57px;
	background: url("../../image/facebooklogin/roundedBtnBg.png") repeat-x left 0;
	border: 1px solid #264076;
	border-radius: 4px;
	position: relative;
}

a.fbkRoundedBtn span {
	width: 37px;
	height: 30px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../../image/facebooklogin/fbkIconRoundedBtn.png") no-repeat left top;
}

a.fbkRoundedBtn:hover {
	background: url("../../image/facebooklogin/roundedBtnBg.png") repeat-x left -30px;
}

a.fbkRoundedBtn:active {
	background: url("../../image/facebooklogin/roundedBtnBg.png") repeat-x left -60px;
}


/* -- End -- */

/* -- Facebook Bootstrap Login Button -- */
a.fbkBootstrapBtn {
	display: inline-block;
	padding: 6px 12px 6px 44px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
	color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
a.fbkBootstrapBtn span {
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	font-family: 'iSenseLabs-Social-Icons';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.fbkBootstrapBtn span:before {
    content: "\e900";
}
a.fbkBootstrapBtn:hover,
a.fbkBootstrapBtn:focus {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
	text-decoration: none;
}
a.fbkBootstrapBtn:active {
    color: #fff;
    background-color: #23345a;
    border-color: rgba(0,0,0,0.2);
	text-decoration: none;
}
/* -- End -- */

.buttonPreview {
	display:inline-block;	
}

.buttonPreview .box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	background: #eeeeee;
	padding: 8px 12px;
	color: #333;	
}

.buttonPreview .box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
}

.noBoxWrapper .box-heading {
	display:none;
}

.noBoxWrapper .box .box-content { 
	border: none;
}

.htabs a {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}

#content > .box > form > .navbar,
#content > .box > form > .navbar .navbar-inner,
#content > .box > .navbar,
#content > .box > .navbar .navbar-inner {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.cssSelectorBox {
	margin-left: 8px;
	width: 45%;
}