<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
            <div class="col-sm-10">
              <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
              <?php if ($error_name) { ?>
              <div class="text-danger"><?php echo $error_name; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
                <label class="col-sm-2 control-label" for="input-blog-category"><?php echo $entry_blog_category; ?></label>
                <div class="col-sm-10">
                    <input type="text" name="blog_category" value="<?php echo $blog_category; ?>" placeholder="<?php echo $entry_blog_category; ?>" id="input-blog-category" class="form-control" />
                    <input type="hidden" name="blog_category_id" value="<?php echo $blog_category_id; ?>" />
                </div>
          </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $entry_include_sub_category; ?></label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <?php if ($include_sub_category) { ?>
                        <input type="radio" name="include_sub_category" value="1" checked="checked" />
                        <?php echo $text_yes; ?>
                        <?php } else { ?>
                        <input type="radio" name="include_sub_category" value="1" />
                        <?php echo $text_yes; ?>
                        <?php } ?>
                    </label>
                    <label class="radio-inline">
                        <?php if (!$include_sub_category) { ?>
                        <input type="radio" name="include_sub_category" value="0" checked="checked" />
                        <?php echo $text_no; ?>
                        <?php } else { ?>
                        <input type="radio" name="include_sub_category" value="0" />
                        <?php echo $text_no; ?>
                        <?php } ?>
                    </label>
                </div>
            </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit"><?php echo $entry_limit; ?></label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="<?php echo $limit; ?>" placeholder="<?php echo $entry_limit; ?>" id="input-limit" class="form-control" />
            </div>
          </div>

          <div class="form-group">
                <label class="col-sm-2 control-label" for="input-column"><?php echo $entry_column; ?></label>
                <div class="col-sm-10">
                    <select name="column" id="input-column" class="form-control">
                        <?php if ($column-1) { ?>
                        <option value="1">1</option>
                        <option value="2" selected="selected">2</option>
                        <?php } else { ?>
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <?php } ?>
                    </select>
                </div>
          </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="input-blog-latest-show"><?php echo $entry_show_for_articles; ?></label>

                <div class="col-sm-10" id="input-blog-latest-show">
                    <div class="checkbox">
                        <label class="checkbox">
                            <input type="checkbox"
                                   name="show_date" <?php echo($show_date ? 'checked' : '') ?> > <?php echo $entry_show_date; ?>
                        </label>
                    </div>
                    <div class="checkbox"><label class="checkbox">
                            <input type="checkbox"
                                   name="show_author" <?php echo($show_author ? 'checked' : '') ?> > <?php echo $entry_show_author; ?>
                        </label>
                    </div>
                    <div class="checkbox"><label class="checkbox">
                            <input type="checkbox"
                                   name="show_viewed" <?php echo($show_viewed ? 'checked' : '') ?> > <?php echo $entry_show_viewed; ?>
                        </label>
                    </div>
                    <div class="checkbox"><label class="checkbox">
                            <input type="checkbox"
                                   name="show_number_of_comments" <?php echo($show_number_of_comments ? 'checked' : '') ?> > <?php echo $entry_show_comment; ?>
                        </label>
                    </div>
                    <div class="checkbox"><label class="checkbox">
                            <input type="checkbox"
                                   name="show_category" <?php echo($show_category ? 'checked' : '') ?> > <?php echo $entry_show_categories; ?>
                        </label>
                    </div>
                    <div class="checkbox"><label class="checkbox">
                            <input type="checkbox"
                                   name="show_tag" <?php echo($show_tag ? 'checked' : '') ?> > <?php echo $entry_show_tags; ?>
                        </label>
                    </div>
                </div>
            </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                <?php if ($status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
      $('input[name=\'blog_category\']').autocomplete({
          'source': function(request, response) {
              $.ajax({
                  url: 'index.php?route=blog/blog_category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),
                  dataType: 'json',
                  success: function(json) {
                      response($.map(json, function(item) {
                          return {
                              label: item['name'],
                              value: item['blog_category_id']
                          }
                      }));
                  }
              });
          },
          'select': function(item) {
              $('input[name=\'blog_category\']').val(item['label']);
              $('input[name=\'blog_category_id\']').val(item['value']);
          }
      });
//--></script></div>
<?php echo $footer; ?>