<?php echo $header; ?>
<?php echo $column_left; ?>

    <div class="content">

        <a href="<?php echo $panel_log_sil; ?>" class="btn btn-danger">Panel Log Dosyasını Sil</a><br>
        <?php echo $panel_log; ?>


        <br><br><br><br><br><br>

        ##########################################################################################################################################################
<br><br><br><br><br>
            <a href="<?php echo $site_log_sil; ?>" class="btn btn-danger">Site Log Dosyasını Sil</a><br>
         <?php echo $site_log; ?>


    </div>
    

<?php echo $footer; ?>