<input type="hidden" name="pan" size="20" value="<?= $card_number;?>"/>
<input type="hidden" name="cv2" size="4" value="<?= $cv_code; ?>"/>
<input type="hidden" name="Ecom_Payment_Card_ExpDate_Year" value="<?= $year;?>"/>
<td><input type="hidden" name="Ecom_Payment_Card_ExpDate_Month" value="<?= $month;?>"/>



    <input type="hidden" name="clientid" value="<?= $clientId; ?>">
    <input type="hidden" name="amount" value="<?= $amount ?>">
    <input type="hidden" name="oid" value="<?= $oid ?>">
    <input type="hidden" name="okUrl" value="<?= $okUrl ?>">
    <input type="hidden" name="failUrl" value="<?= $failUrl ?>">
    <input type="hidden" name="rnd" value="<?= $rnd ?>" >
    <input type="hidden" name="hash" value="<?= $hash ?>" >
    <input type="hidden" name="islemtipi" value="<?= $islemtipi; ?>" >
    <input type="hidden" name="taksit" value="<?= $taksit; ?>" >
    <input type="hidden" name="storetype" value="3d_pay" >
    <input type="hidden" name="lang" value="tr">
    <input type="hidden" name="currency" value="949">


    <!--
<input type="hidden" name="firmaadi" value="My Company
Name"> <input type="hidden" name="Fismi" value="is">
<input type="hidden" name="faturaFirma" value="faturaFirma">
<input type="hidden" name="Fadres" value="XXX">
<input type="hidden" name="Fadres2" value="XXX">
<input type="hidden" name="Fil" value="XXX">
<input type="hidden" name="Filce" value="XXX">
<input type="hidden" name="Fpostakodu" value="postakod93013">
<input type="hidden" name="tel" value="XXX">
<input type="hidden" name="fulkekod" value="tr">
<input type="hidden" name="nakliyeFirma" value="na
fi"> <input type="hidden" name="tismi" value="XXX">
<input type="hidden" name="tadres" value="XXX">
<input type="hidden" name="tadres2" value="XXX">
<input type="hidden" name="til" value="XXX">
<input type="hidden" name="tilce" value="XXX">
<input type="hidden" name="tpostakodu" value="ttt postakod93013">
<input type="hidden" name="tulkekod" value="usa">
<input type="hidden" name="itemnumber1" value="a1">
<input type="hidden" name="productcode1" value="a2"> <input type="hidden" name="qty1" value="3">
<input type="hidden" name="desc1" value="a4 desc"> <input type="hidden" name="id1" value="a5">
<input type="hidden" name="price1" value="6.25"> <input type="hidden" name="total1" value="7.50">

    -->