<!--<select name="secure3dsecuritylevel">
    <option selected value="3D_FULL">3D_FULL</option>
</select>-->
<input type="hidden" name="secure3dsecuritylevel" type="text" value="3D" />
<input type="hidden" name="txntype" type="text" value="sales" />

<input type="hidden" name="cardnumber" type="text" value="<?= $card_number;?>" />
<input type="hidden" name="cardexpiredatemonth" type="text" value="<?= $month;?>" />
<input type="hidden" name="cardexpiredateyear" type="text" value="<?= $year;?>" />
<input type="hidden" name="cardcvv2" type="text" value="<?= $cv_code; ?>" />

<input type="hidden" name="mode" value="<?php  echo $strMode ?>" />
<input type="hidden" name="apiversion" value="<?php  echo $strApiVersion ?>" />
<input type="hidden" name="terminalprovuserid" value="<?php  echo $strTerminalProvUserID ?>" />
<input type="hidden" name="terminaluserid" value="<?php  echo $strTerminalUserID ?>" />
<input type="hidden" name="terminalmerchantid" value="<?php  echo $strTerminalMerchantID ?>" />
<input type="hidden" name="txntype" value="<?php  echo $strType ?>" />
<input type="hidden" name="txnamount" value="<?php  echo $strAmount ?>" />
<input type="hidden" name="txncurrencycode" value="<?php  echo $strCurrencyCode ?>" />
<input type="hidden" name="txninstallmentcount" value="<?php  echo $strInstallmentCount ?>" />
<input type="hidden" name="orderid" value="<?php  echo $strOrderID ?>" />
<input type="hidden" name="terminalid" value="<?php  echo $strTerminalID ?>" />
<input type="hidden" name="successurl" value="<?php  echo $strSuccessURL ?>" />
<input type="hidden" name="errorurl" value="<?php  echo $strErrorURL ?>" />
<input type="hidden" name="customeremailaddress" value="<?php  echo $strcustomeremailaddress ?>" />
<input type="hidden" name="customeripaddress" value="<?php  echo $strCustomeripaddress ?>" />
<input type="hidden" name="secure3dhash" value="<?php  echo $HashData ?>" />