
<input type="hidden" name="pan" size="16" value="<?=$card_number;?>"/>
<input type="hidden" name="cv2" size="4" value="<?=$cv_code;?>"/>
<input type="hidden" name="Ecom_Payment_Card_ExpDate_Year" value="<?=$year;?>"/>
<input type="hidden" name="Ecom_Payment_Card_ExpDate_Month" value="<?=$month;?>"/>

<input type="hidden" name="clientid" value="<?=$clientId;?>" />
<input type="hidden" name="amount" value="<?=$amount;?>" />
<input type="hidden" name="oid" value="<?=$oid;?>" />
<input type="hidden" name="okUrl" value="<?=$okUrl;?>" />
<input type="hidden" name="failUrl" value="<?=$failUrl;?>" />
<input type="hidden" name="rnd" value="<?=$rnd;?>" />
<input type="hidden" name="hash" value="<?=$hash;?>" />
<input type="hidden" name="islemtipi" value="<?=$islemtipi;?>" />
<input type="hidden" name="taksit" value="<?=$taksit;?>" />
<input type="hidden" name="storetype" value="3d_pay" />
<input type="hidden" name="lang" value="tr" />
<input type="hidden" name="currency" value="949" />
