<div class="tile">
  <div class="tile-heading"style="background-color: #d0b47a;"><?php echo $heading_title; ?> <span class="pull-right">
    <?php if ($percentage > 0) { ?>
    <i class="fa fa-caret-up"></i>
    <?php } elseif ($percentage < 0) { ?>
    <i class="fa fa-caret-down"></i>
    <?php } ?>
    <?php echo $percentage; ?>%</span></div>
  <div class="tile-body"style="background-color: #edce8c;"><i class="fa fa-user"></i>
    <h2 class="pull-right"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer"style="background-color: #f1d69f;"><a href="<?php echo $customer; ?>"><?php echo $text_view; ?></a></div>
</div>
