<div class="tile">
  <div class="tile-heading"><?php echo $heading_title; ?></div>
  <div class="tile-body"><i class="fa fa-eye"></i>
    <h2 class="pull-right"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer"><a href="<?php echo $online; ?>"><?php echo $text_view; ?></a></div>
</div>
<div class=""><div class="tile" style="margin-bottom: 0px;border-bottom:1px solid #fff">
  <a href="https://www.marcomen.com.tr/ps-panel/index.php?route=sale/order&amp;token=Nixm4T92uT8S0tA3tXBinyp8SnzUVoJU" data-abc="true">
    <div class="tile-heading" style="background-color: #a0cc7d;text-align:center;">
      <i class="fa fa-shopping-cart"></i> Toplam Sipariş 
    </div>
  <div class="tile-body" style="background-color: #a0cc7d;">
    <h2 class="text-center">85 <span style="font-size:12px;"> Sipariş Aldınız.</span></h2>
  </div></a>
  <!--<div class="tile-footer"style="background-color: #94e2c3;"><a href="https://www.marcomen.com.tr/ps-panel/index.php?route=sale/order&amp;token=Nixm4T92uT8S0tA3tXBinyp8SnzUVoJU">Daha fazla...</a></div>-->
</div>
</div>
