


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Öne Çıkanlar</a></li>
  <li><a data-toggle="tab" href="#menu1">En Yeniler</a></li>
  <li><a data-toggle="tab" href="#menu2">Çok Satanlar</a></li>
 
</ul>



<div class="tab-content mb-30">
  <div id="home" class="tab-pane fade in active">
		<div class="row">
		<?php for($k=0;$k<8;$k++){ ?>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:30px;">
			<img src="http://via.placeholder.com/300x400">
			</div>
		<?php } ?>
		</div>
	
	
  </div>
  
  <div id="menu1" class="tab-pane fade">
	<div class="row">
		<?php for($k=0;$k<8;$k++){ ?>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:30px;">
			<img src="http://via.placeholder.com/300x400">
			</div>
		<?php } ?>
	</div>
	
  </div>
  
  <div id="menu2" class="tab-pane fade">
    <div class="row">
		<?php for($k=0;$k<8;$k++){ ?>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-bottom:30px;">
			<img src="http://via.placeholder.com/300x400">
			</div>
		<?php } ?>
	</div>
	
  </div>
  
   
  
</div>




 
