<?php echo $header; ?>
<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen">
<script src="catalog/view/javascript/instashop/instashop.js" type="text/javascript"></script><script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/default/stylesheet/instashop.css" rel="stylesheet">				
<div class="container">
	<div class="row">
		<?php if($instalink){ echo($instalink); } ?>				
		<ul id="instaimages" style="margin: auto; width: 100%; padding-left: 0px !important">				
		
		<?php echo($code); ?>				
		</li>	
		
		</ul>		
		<br>
<?php if ($code != "<div style=\"width: 100%; text-align: center\">Sorry, there seems to be an issue connecting to Instagram right now, please try again later.</div>") { ?>		
		<div onmouseover="this.style.opacity='0.5'" onmouseout="this.style.opacity='1.0'" style="cursor:pointer;float: right ;display: inline-block" id="bigger">[LARGE]</div>	
		<div onmouseover="this.style.opacity='0.5'" onmouseout="this.style.opacity='1.0'" style="cursor:pointer;float: right  ;display: none" id="smaller">[SMALL]</div>		
		<br>		
		<div  style="width: 100%; text-align:center" data-toggle="tooltip" title="SHOW LESS" id="showLess"><img src="catalog/view/theme/default/image/minus.png" /></img></div>
		<div  style="width: 100%; text-align:center"  data-toggle="tooltip" title="SHOW MORE" id="loadMore"><img src="catalog/view/theme/default/image/plus.png" /></div></div>
		
<?php } ?>
</div>
<?php echo $footer; ?>