<div class="search" class="awayor search">
<div class="form-control awayko">
  <input type="text" name="search_mobil" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="awaybo" />
  <span class="">
    <button type="button" class="awayik"><i class="fa fa-search"></i></button>
  </span>
 </div>
</div>