<div id="search" class="awayor">
<div class="form-control input-lg awayko">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="awaybo" />
  <span class="">
    <button type="button" class="awayik"><i class="fa fa-search"></i></button>
  </span>
 </div>
</div>

<style>
    .awaybo:focus{
        outline:none;
    }
</style>