<div class="tile" style="margin-bottom: 0px;border-bottom:1px solid #fff">
  <a href="<?php echo $customer; ?>"><div class="tile-heading"style="background-color: #a0cc7d;text-align:center;"><i class="fa fa-user"></i> <?php echo $heading_title; ?></div>
  <div class="tile-body"style="background-color: #a0cc7d;">
    <h2 class="text-center"><?php echo $total; ?> <span style="font-size:12px;"> Kişi Üye Oldu.</span></h2>
  </div></a>
</div>
