<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
<style type="text/css">
  #xml_export tr td input[type=checkbox] {float: left;cursor: pointer;}
  #xml_export label {font-weight: normal;line-height: 13px;padding: 7px 0px 0px 7px;cursor: pointer;}
  #xml_export label.highlighted {color: #1e91cf;}
</style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="xml_export" data-toggle="tooltip" title="<?php echo $text_download_xml; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $text_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_export; ?></h3>
        <h3 style="float:right"><a href="<?php echo $url_alias_sil; ?>" target="_BLANK">Url Alias Sil</a></h3>
      </div>
      <div class="panel-body">
    
    
      <form action="<?php echo $_SERVER['REQUEST_URI']; ?>" method="post" id="xml_export">
      
      
      
    <div style="float: left; margin-right: 50px;">
        <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 30px;">
          <tr>
            <td><input type="checkbox" name="download[product_id]" id="download_product_id" value="1" /></td>
            <td><label for="download_product_id"><?php echo $text_product_id; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[name]" id="download_name" value="1" /></td>
            <td><label for="download_name"><?php echo $text_name; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[description]" id="download_description" value="1" /></td>
            <td><label for="download_description"><?php echo $text_description; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[model]" id="download_model" value="1" /></td>
            <td><label for="download_model"><?php echo $text_model; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[sku]" id="download_sku" value="1" /></td>
            <td><label for="download_sku"><?php echo $text_sku; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[upc]" id="download_upc" value="1" /></td>
            <td><label for="download_upc"><?php echo $text_upc; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[ean]" id="download_ean" value="1"<?php if(version_compare(VERSION, '1.5.0', '>=') AND version_compare(VERSION, '1.5.3.1', '<=')){echo ' disabled="disabled"';}?> /></td>
            <td><label for="download_ean"><?php echo $text_ean; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[jan]" id="download_jan" value="1"<?php if(version_compare(VERSION, '1.5.0', '>=') AND version_compare(VERSION, '1.5.3.1', '<=')){echo ' disabled="disabled"';}?> /></td>
            <td><label for="download_jan"><?php echo $text_jan; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[isbn]" id="download_isbn" value="1"<?php if(version_compare(VERSION, '1.5.0', '>=') AND version_compare(VERSION, '1.5.3.1', '<=')){echo ' disabled="disabled"';}?> /></td>
            <td><label for="download_isbn"><?php echo $text_isbn; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[mpn]" id="download_mpn" value="1"<?php if(version_compare(VERSION, '1.5.0', '>=') AND version_compare(VERSION, '1.5.3.1', '<=')){echo ' disabled="disabled"';}?> /></td>
            <td><label for="download_mpn"><?php echo $text_mpn; ?></label></td>
          </tr>
        </table>
        
        <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 30px;">
          <tr>
            <td><input type="checkbox" name="download[category]" id="download_category" value="1" /></td>
            <td><label for="download_category"><?php echo $text_category; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[manufacturer]" id="download_manufacturer" value="1" /></td>
            <td><label for="download_manufacturer"><?php echo $text_manufacturer; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[price]" id="download_price" value="1" /></td>
            <td><label for="download_price"><?php echo $text_price; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[tax_class]" id="download_tax_class" value="1" /></td>
            <td><label for="download_tax_class"><?php echo $text_tax_class; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[product_url]" id="download_product_url" value="1" /></td>
            <td><label for="download_product_url">Product URL</label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[points]" id="download_points" value="1" /></td>
            <td><label for="download_points"><?php echo $text_points; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[quantity]" id="download_quantity" value="1" /></td>
            <td><label for="download_quantity"><?php echo $text_quantity; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[minimum]" id="download_minimum" value="1" /></td>
            <td><label for="download_minimum"><?php echo $text_minimum; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[product_attribute]" id="download_product_attribute" value="1" /></td>
            <td><label for="download_product_attribute"><?php echo $text_product_attribute; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[product_option]" id="download_product_option" value="1" /></td>
            <td><label for="download_product_option"><?php echo $text_product_option; ?></label></td>
          </tr>
        </table>
        
        <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 30px;">
          <tr>
            <td><input type="checkbox" name="download[stock_status]" id="download_stock_status" value="1" /></td>
            <td><label for="download_stock_status"><?php echo $text_stock_status; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[weight]" id="download_weight" value="1" /></td>
            <td><label for="download_weight"><?php echo $text_weight; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[weight_class]" id="download_weight_class" value="1" /></td>
            <td><label for="download_weight_class"><?php echo $text_weight_class; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[length]" id="download_length" value="1" /></td>
            <td><label for="download_length"><?php echo $text_length; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[length_class]" id="download_length_class" value="1" /></td>
            <td><label for="download_length_class"><?php echo $text_length_class; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[width]" id="download_width" value="1" /></td>
            <td><label for="download_width"><?php echo $text_width; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[height]" id="download_height" value="1" /></td>
            <td><label for="download_height"><?php echo $text_height; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[location]" id="download_location" value="1" /></td>
            <td><label for="download_location"><?php echo $text_location; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[images]" id="download_images" value="1" /></td>
            <td><label for="download_images"><?php echo $text_images; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[status]" id="download_status" value="1" /></td>
            <td><label for="download_status"><?php echo $text_status; ?></label></td>
          </tr>
        </table>
        
        <table cellpadding="0" cellspacing="0" style="float: left; margin-right: 30px;">
          <tr>
            <td><input type="checkbox" name="download[meta_description]" id="download_meta_description" value="1" /></td>
            <td><label for="download_meta_description"><?php echo $text_meta_description; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[meta_keyword]" id="download_meta_keyword" value="1" /></td>
            <td><label for="download_meta_keyword"><?php echo $text_meta_keyword; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[viewed]" id="download_viewed" value="1" /></td>
            <td><label for="download_viewed"><?php echo $text_viewed; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[date_available]" id="download_date_available" value="1" /></td>
            <td><label for="download_date_available"><?php echo $text_date_available; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[date_added]" id="download_date_added" value="1" /></td>
            <td><label for="download_date_added"><?php echo $text_date_added; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[date_modified]" id="download_date_modified" value="1" /></td>
            <td><label for="download_date_modified"><?php echo $text_date_modified; ?></label></td>
          </tr>
          <tr>
            <td><input type="checkbox" name="download[sort_order]" id="download_sort" value="1" /></td>
            <td><label for="download_sort"><?php echo $text_sort_order; ?></label></td>
          </tr>
        </table>
      </div>
      
      
      
      
    <div style="float: left; border-left: 1px solid gray; padding-left: 50px;">
      <h3><?php echo $text_checked; ?>:</h3>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td><input type="radio" name="checked" value="check_main_data" id="check_main_data" onClick="check(this.value);" /></td>
          <td><label for="check_main_data"><?php echo 'N11 Verileri'; ?></label></td>
        </tr>
        <tr>
          <td><input type="radio" name="checked" value="check_all_important_data" id="check_all_important_data" onClick="check(this.value);" /></td>
          <td><label for="check_all_important_data"><?php echo $text_check_all_important_data; ?></label></td>
        </tr>
        <tr>
          <td><input type="radio" name="checked" value="check_all" id="check_all" onClick="check(this.value);" /></td>
          <td><label for="check_all"><?php echo $text_check_all; ?></label></td>
        </tr>
        <tr>
          <td><input type="radio" name="checked" value="check_none" id="check_none" onClick="check(this.value);" /></td>
          <td><label for="check_none"><?php echo $text_check_none; ?></label></td>
        </tr>
      </table>
      
      
      <h3><?php echo $text_select_language; ?>:</h3>
      <select name="language_id">
        <?php foreach($languages as $language){?>
          <option value="<?php echo $language['language_id'];?>"><?php echo $language['name'];?></option>
        <?php }?>
      </select>
      
      
      <h3><?php echo $text_another_options; ?>:</h3>
      <input type="checkbox" name="download[full_image_link]" id="download_full_image_link" value="1" checked="checked" />
      <label for="download_full_image_link"><?php echo $text_full_image_link; ?></label>
      
      <br />
      
      <input type="checkbox" name="download[download_image_number]" id="download_image_number" value="1" checked="checked" />
      <label for="download_image_number"><?php echo $text_download_image_number; ?></label>
      
      
      
      
      
      
      <script type="text/javascript">
        function check(check_type){
        
          if(check_type == 'check_main_data'){
            uncheckAll();
            document.getElementById('download_product_id').checked              = true;
            document.getElementById('download_model').checked                   = true;
            document.getElementById('download_category').checked                = true;
            document.getElementById('download_name').checked                    = true;
            document.getElementById('download_description').checked             = true;
            document.getElementById('download_manufacturer').checked            = true;
            document.getElementById('download_price').checked                   = true;
            document.getElementById('download_quantity').checked                = true;
            document.getElementById('download_product_option').checked          = true;
            document.getElementById('download_images').checked                  = true;
          
          }
        
          if(check_type == 'check_all_important_data'){
            uncheckAll();
            document.getElementById('download_product_id').checked              = true;
            document.getElementById('download_model').checked                   = true;
            document.getElementById('download_category').checked                = true;
            document.getElementById('download_name').checked                    = true;
            document.getElementById('download_description').checked             = true;
            document.getElementById('download_manufacturer').checked            = true;
            document.getElementById('download_price').checked                   = true;
            document.getElementById('download_points').checked                  = true;
            document.getElementById('download_quantity').checked                = true;
            document.getElementById('download_minimum').checked                 = true;
            document.getElementById('download_stock_status').checked            = true;
            document.getElementById('download_meta_description').checked        = true;
            document.getElementById('download_meta_keyword').checked            = true;
            document.getElementById('download_status').checked                  = true;
            document.getElementById('download_date_available').checked          = true;
            document.getElementById('download_images').checked                  = true;
            document.getElementById('download_product_attribute').checked       = true;
            document.getElementById('download_product_option').checked          = true;
            document.getElementById('download_tax_class').checked               = true;
            document.getElementById('download_weight').checked                  = true;
            document.getElementById('download_weight_class').checked            = true;
            document.getElementById('download_length').checked                  = true;
            document.getElementById('download_length_class').checked            = true;
            document.getElementById('download_width').checked                   = true;
            document.getElementById('download_height').checked                  = true;
            document.getElementById('download_product_url').checked             = true;
            document.getElementById('download_sku').checked                     = true;
            document.getElementById('download_upc').checked                     = true;
          <?php if(version_compare(VERSION, '1.5.3.1', '>')){?>
            document.getElementById('download_ean').checked                     = true;
            document.getElementById('download_jan').checked                     = true;
            document.getElementById('download_isbn').checked                    = true;
            document.getElementById('download_mpn').checked                     = true;
          <?php } ?>
          }
          if(check_type == 'check_all'){checkAll();}
          if(check_type == 'check_none'){uncheckAll();}
          highlightCheckbox();
        }

        function uncheckAll(){
            document.getElementById('download_product_id').checked              = false;
            document.getElementById('download_model').checked                   = false;
            document.getElementById('download_category').checked                = false;
            document.getElementById('download_name').checked                    = false;
            document.getElementById('download_description').checked             = false;
            document.getElementById('download_manufacturer').checked            = false;
            document.getElementById('download_price').checked                   = false;
            document.getElementById('download_tax_class').checked               = false;
            document.getElementById('download_points').checked                  = false;
            document.getElementById('download_quantity').checked                = false;
            document.getElementById('download_minimum').checked                 = false;
            document.getElementById('download_stock_status').checked            = false;
            document.getElementById('download_weight').checked                  = false;
            document.getElementById('download_weight_class').checked            = false;
            document.getElementById('download_length').checked                  = false;
            document.getElementById('download_length_class').checked            = false;
            document.getElementById('download_width').checked                   = false;
            document.getElementById('download_height').checked                  = false;
            document.getElementById('download_sku').checked                     = false;
            document.getElementById('download_upc').checked                     = false;
            
            document.getElementById('download_ean').checked                     = false;
            document.getElementById('download_jan').checked                     = false;
            document.getElementById('download_isbn').checked                    = false;
            document.getElementById('download_mpn').checked                     = false;
            
            document.getElementById('download_location').checked                = false;
            document.getElementById('download_images').checked                  = false;
            document.getElementById('download_product_attribute').checked       = false;
            document.getElementById('download_product_option').checked          = false;
            document.getElementById('download_meta_description').checked        = false;
            document.getElementById('download_meta_keyword').checked            = false;
            document.getElementById('download_viewed').checked                  = false;
            document.getElementById('download_date_available').checked          = false;
            document.getElementById('download_date_added').checked              = false;
            document.getElementById('download_date_modified').checked           = false;
            document.getElementById('download_status').checked                  = false;
            document.getElementById('download_sort').checked                    = false;
            document.getElementById('download_product_url').checked             = false;
        }

        function checkAll(){
            document.getElementById('download_product_id').checked              = true;
            document.getElementById('download_model').checked                   = true;
            document.getElementById('download_category').checked                = true;
            document.getElementById('download_name').checked                    = true;
            document.getElementById('download_description').checked             = true;
            document.getElementById('download_manufacturer').checked            = true;
            document.getElementById('download_price').checked                   = true;
            document.getElementById('download_tax_class').checked               = true;
            document.getElementById('download_points').checked                  = true;
            document.getElementById('download_quantity').checked                = true;
            document.getElementById('download_minimum').checked                 = true;
            document.getElementById('download_stock_status').checked            = true;
            document.getElementById('download_weight').checked                  = true;
            document.getElementById('download_weight_class').checked            = true;
            document.getElementById('download_length').checked                  = true;
            document.getElementById('download_length_class').checked            = true;
            document.getElementById('download_width').checked                   = true;
            document.getElementById('download_height').checked                  = true;
            document.getElementById('download_sku').checked                     = true;
            document.getElementById('download_upc').checked                     = true;
          <?php if(version_compare(VERSION, '1.5.0', '>=') AND version_compare(VERSION, '1.5.3.1', '<=')){?>
            document.getElementById('download_ean').checked                     = false;
            document.getElementById('download_jan').checked                     = false;
            document.getElementById('download_isbn').checked                    = false;
            document.getElementById('download_mpn').checked                     = false;
          <?php }else{ ?>
            document.getElementById('download_ean').checked                     = true;
            document.getElementById('download_jan').checked                     = true;
            document.getElementById('download_isbn').checked                    = true;
            document.getElementById('download_mpn').checked                     = true;
          <?php } ?>
            document.getElementById('download_location').checked                = true;
            document.getElementById('download_images').checked                  = true;
            document.getElementById('download_product_attribute').checked       = true;
            document.getElementById('download_product_option').checked          = true;
            document.getElementById('download_meta_description').checked        = true;
            document.getElementById('download_meta_keyword').checked            = true;
            document.getElementById('download_viewed').checked                  = true;
            document.getElementById('download_date_available').checked          = true;
            document.getElementById('download_date_added').checked              = true;
            document.getElementById('download_date_modified').checked           = true;
            document.getElementById('download_status').checked                  = true;
            document.getElementById('download_sort').checked                    = true;
            document.getElementById('download_product_url').checked             = true;
        }
        
        
        
        
        function highlightCheckbox(){
          $("#xml_export input[type=checkbox]").each(function( index ) {
          
            var checkbox_id = $(this).attr('id');
            
            if($(this).prop("checked") == true){
              $('label[for='+checkbox_id+']').addClass("highlighted");
            }else{
             $('label[for='+checkbox_id+']').removeClass("highlighted");
            }
            
             $('label[for=download_full_image_link]').removeClass("highlighted");
             $('label[for=download_image_number]').removeClass("highlighted");

          });
        }
        
      </script>
    </div>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>