/* M-Mega Menu*/
.m-menu-wrap{
	background: #F3F6F8;
	margin-bottom: 30px;
}
.m-menu-wrap .page-header{
	background: #3e5776;
    color: #fff;
    margin-top: 0;
    padding-top: 15px;
}
.m-menu-wrap .page-header h1{
	color: #fff;
}
.m-menu-wrap .breadcrumb li a{
	color: #fff;
}.m-menu-wrap .m-menu-tabs ul{
	margin: 0;
}
.m-menu-wrap .m-menu-tabs ul li{
	width: 25%;
	text-align: center;
	float: left;
	padding: 0;
}
.m-menu-wrap .m-menu-tabs ul li.active{
	background: #02b8da;	
}
.m-menu-wrap .m-menu-tabs ul li:hover a{
	color: #02b8da;
}
.m-menu-wrap .m-menu-tabs ul li:hover i{
	background: #02b8da;	
	color: #000;
}
.m-menu-wrap .m-menu-tabs ul li.active:hover i{
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
.m-menu-wrap .m-menu-tabs ul li.active a, .m-menu-wrap .m-menu-tabs ul li.active i{
	color: #000;
}
.m-menu-wrap .m-menu-tabs ul li a{
	padding: 40px 0;
	display: block;
	color: #fff;
	line-height: normal;
	font-size: 14px;
}
.m-menu-wrap .m-menu-tabs{
	background: #3a668a;
}
.m-menu-wrap .m-menu-tabs ul li i{
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    height: 42px;
    line-height: normal;
    margin-bottom: 25px;
    padding-top: 9px;
    width: 50px;
}
.m-menu-wrap .m-menu-tabs ul li span{
	display: block;
}
.m-menu-wrap .panel-default .panel-heading{
	background: #02b8da;	
	color: #fff;
	padding: 5px 5px 5px 15px;
}
.m-menu-wrap .panel-default{
	border: none;
}
.m-menu-wrap .panel-title{
	padding-bottom: 10px;
    padding-top: 10px;
}
.m-menu-wrap .panel-heading .btn-primary{
	background-color: #41860a;
}
.m-menu-wrap .nav-tabs > li > a{
	border-radius: 5px 5px 0 0;
	border: none;
	padding: 10px 20px;
}
.m-menu-wrap .nav-tabs > li.active > a, .m-menu-wrap .nav-tabs > li.active > a:hover, .m-menu-wrap .nav-tabs > li.active > a:focus{
	background: #02b8da;
    color: #fff;
    font-weight: bold;
    border: none;
}
.m-menu-wrap .m-fieldset{
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
.m-menu-wrap .m-fieldset h3{
	background: #d9dee7;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
.m-menu-wrap .m-fieldset{
	position: relative;
}
.reset-colors{
	background: #f84141;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.alert-success {
	background-color: #02b8da;
    border-color: #02b8da;
    color: #fff;
}
.m-menu-wrap fieldset h3{border-bottom: 1px solid #ddd;padding-bottom: 10px;font-size: 16px;background: #C2DBE0;padding-top: 10px;padding-left: 15px;color: #2f2a2a;}

.mp-buttons .btn-primary {
	background-color : #fff;
	border-color: #ccc;
	color: #333;
}
.mp-buttons .btn-primary:hover{
	background-color: #1E91CF;
	border-color: #1978ab;
	color: #fff;
}
.mp-buttons .btn-primary.active{
	background-color: #3E5776;
	border-color: #3E5776;
	color: #fff;
}
